body {
    background-color: #264563;
    margin: 1; 
    display: grid;
    place-items: center;
    /*height: 100vh;  Center the entire content vertically */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

h2 {
    text-align: center;
    padding: 25px;
    font-size: 45px;
}

div {
    display: grid;
    grid-template-columns: 15% auto 15%;
    place-items: center;
    padding: 10px;
}


/**************************
button 29 
**************************/
button {
    align-items: center;
    display: grid;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
/**************************
    Catch Me Button
**************************/
#catchMe {
  cursor: pointer;
  position:absolute;
}
/**************************
    switch
**************************/
#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  #switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  #slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + #slider {
    background-color: #2196F3;
  }
  
  input:focus + #slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  /*  */
  input:checked + #slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  #slider {
    border-radius: 45%;
  }
  
  #slider:before {
    border-radius: 50%;
  }